@bootstrap-path: "../node_modules/bootstrap/less/";

/*
// Core variables and mixins
@import "@{bootstrap-path}variables.less";
@import "@{bootstrap-path}mixins.less";

// Reset and dependencies
@import "@{bootstrap-path}normalize.less";
@import "@{bootstrap-path}print.less";

// Core CSS
@import "@{bootstrap-path}scaffolding.less";
@import "@{bootstrap-path}type.less";
@import "@{bootstrap-path}code.less";
@import "@{bootstrap-path}grid.less";
@import "@{bootstrap-path}tables.less";
@import "@{bootstrap-path}forms.less";
@import "@{bootstrap-path}buttons.less";

// Components
@import "@{bootstrap-path}component-animations.less";
@import "@{bootstrap-path}dropdowns.less";
@import "@{bootstrap-path}button-groups.less";
@import "@{bootstrap-path}input-groups.less";
@import "@{bootstrap-path}navs.less";
@import "@{bootstrap-path}navbar.less";
@import "@{bootstrap-path}breadcrumbs.less";
@import "@{bootstrap-path}pagination.less";
@import "@{bootstrap-path}pager.less";
@import "@{bootstrap-path}labels.less";
@import "@{bootstrap-path}badges.less";
@import "@{bootstrap-path}jumbotron.less";
@import "@{bootstrap-path}thumbnails.less";
@import "@{bootstrap-path}alerts.less";
@import "@{bootstrap-path}progress-bars.less";
@import "@{bootstrap-path}media.less";
@import "@{bootstrap-path}list-group.less";
@import "@{bootstrap-path}panels.less";
@import "@{bootstrap-path}responsive-embed.less";
@import "@{bootstrap-path}wells.less";
@import "@{bootstrap-path}close.less";

// Components w/ JavaScript
@import "@{bootstrap-path}modals.less";
@import "@{bootstrap-path}tooltip.less";
@import "@{bootstrap-path}popovers.less";
@import "@{bootstrap-path}carousel.less";

// Utility classes
@import "@{bootstrap-path}utilities.less";
@import "@{bootstrap-path}responsive-utilities.less";
*/


html {
    background: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
}
ol {
    padding: 0;
}
li {
    list-style: none;
}
.columns {
    display: flex;
    align-content: stretch;
    justify-content: space-around;

    h2,
    h3 {
        margin: 0;
    }
}

.column {
    width: 100%;
    padding: 1em;
    background: #345;
    &:nth-child(2n) {
        background: #456;
    }
}

.column-name {
    background: transparent;
    border: 0;
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}

.card {
    color: #333;
    background: #eef;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0,0,0,1);
    padding: 1em;
    margin: 1em 0;
}
